# General
.DS_Store
.AppleDouble
.LSOverride
.prettierignore
### node etc ###

# Logs
logs
*.log

# Compiled Dirs (http://nodejs.org/api/addons.html)
build/
dist/bundle.js

# Dependency directorys
node_modules/
