/* write your style definitions here or create css files and include them here */
body {
  font-family: sans-serif;
}

/* header */
.site-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.9rem;
  background: #1f2532;
  color: #ffffff;
  width: 100%;
  height: 50px;
}

.function {
  display: flex;
  align-self: center;
  order: 2;
}

.blueBtn {
  background: #66c4cc;
  color: #ffffff;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
}

.blueBtn.changed {
  background: #b0dfe3;
}
.cancelBtn {
  background: #d2d3d4;
  color: #ffffff;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
}

.newNote {
  height: 35%;
  width: auto;
}

/* button */
.btn {
  background-color: #ffffff;
  border: none;
  color: #d2d3d4;
  font-size: 16px;
  cursor: pointer;
}

.btn :hover {
  color: #66c4cc;
}

/*Notes*/
.container {
  margin: 10px;
}

.notes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  display: flex;
  flex-direction: column;
  color: black;
}
/************************/
/* Note Grid */
/************************/

.small-note {
  width: 280px;
  height: 280px;
  padding: 10px;
  margin: 5px;
}

.note {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.color {
  border-radius: 5px 5px 0px 0px;
  height: 5px;
  background: #66c4cc;
}

.title {
  display: flex;
  border: 1px solid #d2d3d4;
  flex-wrap: nowrap;
  align-content: flex-end;
  font-size: 0.9rem;
  background: #ffffff;
}

.main {
  border: 1px solid #d2d3d4;
  height: 150px;
  background: #ffffff;
  overflow: scroll;
  border-radius: 0px 0px 5px 5px;
}

.inner {
  height: 100%;
  padding-left: 10px;
}

/************************/
/* The Add page modal */
/************************/

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  border-radius: 5px;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 80%;
}

/************************/
/* Note Edit Mode */
/************************/
.edit-note {
  padding: 10px 30px 10px 30px;
  height: 100%;
}

.e-color {
  border-radius: 5px 5px 0px 0px;
  height: 10px;
  background: #66c4cc;
}

.e-choose-color {
  padding: inherit;
  /* border: 1px solid #d2d3d4; */
  background: #ffffff;
  display: flex;
}

.color-btn {
  border: 1px solid #d2d3d4;
  margin: 5px;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  cursor: pointer;
}

.selected {
  border: 2px solid #66c4cc;
}
.e-title {
  background: #ffffff;
  padding: inherit;
}
.e-main {
  background: #ffffff;
  padding: inherit;
  height: 60%;
  border-radius: 0px 0px 0px 0px;
}
.e-inner {
  height: 100%;
}

input[type='text'] {
  text-align: left;
  font-size: 15px;
  font-style: italic;
  width: 100%;
  height: 100%;
  border: none;
  -webkit-box-sizing: border-box; // Safari/Chrome, other WebKit
  -moz-box-sizing: border-box; // Firefox, other Gecko
  box-sizing: border-box; // Opera/IE 8+
}

textarea {
  color: black;
  width: 100%;
  height: 100%;
  border: none;
  -webkit-box-sizing: border-box; // Safari/Chrome, other WebKit
  -moz-box-sizing: border-box; // Firefox, other Gecko
  box-sizing: border-box; // Opera/IE 8+
}

footer {
  padding: 20px;
  background: #fafafa;
  display: flex;
  justify-content: space-between;
  border-radius: 0px 0px 5px 5px;
}

.red {
  background: #faa9b0;
}
.green {
  background: #b5ecd1;
}
.yellow {
  background: #fbdbae;
}
.blue {
  background: #aeccfb;
}

/*********************************/
/* The Delete comfirmation modal */
/*********************************/

/* Modal Content */
.delete-modal-content {
  border-radius: 5px;
  margin: auto;
  border: 1px solid #888;
  width: 300px;
  height: 250px;
}

.d-title {
  padding-left: 30px;
  border-radius: 5px 5px 0px 0px;
  background: #ffffff;
}

.d-main {
  font-size: 12px;
  padding-left: 30px;
  background: #ffffff;
}
